
*, :before, :after {box-sizing:border-box;}

@media (min-width:900px) {
  :root {
    --pad:4em;
  }
}


@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

a {text-decoration:inherit; color:inherit;}

.navbar-brand img {
  width: 120px;
}

.navbar {
  padding-top: 30PX;
  padding-bottom: 20px;
}

body {
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.card-header{
  text-transform: uppercase;
  font-weight : bold;
}

.card-header-recipes{
  height: 80px;
}

.img-recipes{

}

